#technology {
  height: var(--tech-height);
  width: 100%;
}

.hide {
  display: none;
}


img {
  margin-top: 25px;
  opacity: 1;
}

.swipe-notify {
  display: var(--tech-swipe-display);
  text-align: center;
  vertical-align: middle;
  width: 300px;
  height: 150px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.fa {
  font-size: 40px;
  color: hsl(200, 80%, 45%);
}

.fa:hover{
  color: hsla(200, 80%, 45%, 0.5);
}

.slide {
  animation: slideIn 1.7s infinite;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
.draggable {
  width: var(--tech-caro-width);
  height: var(--tech-icon-width-height);
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 45px;
}

.icon {
  height: var(--tech-icon-width-height);
  width: var(--tech-icon-width-height);
  text-align: center;
  vertical-align: middle;
}

.icon i {
  font-size: var(--tech-icon-font-size);
  text-align: center;
  line-height: var(--tech-icon-width-height);
}

.fixed-width-tech {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: var(--mobile-brands);
  height: 15%;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 600px) {
  h1 {
    padding: 20px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }

  @-webkit-keyframes floating-text {
    0% {
      -webkit-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-moz-keyframes floating-text {
    0% {
      -moz-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-ms-keyframes floating-text {
    0% {
      -ms-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-o-keyframes floating-text {
    0% {
      -o-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @keyframes floating-text {
    0% {
      transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  .tech {
    font-family: "Bungee Shade", cursive;
    color: hsl(200, 80%, 45%);
    font-size: 6vw;
    text-align: center;
    -webkit-animation: floating-text 1.3s ease alternate infinite;
    -moz-animation: floating-text 1.3s ease alternate infinite;
    -ms-animation: floating-text 1.3s ease alternate infinite;
    -o-animation: floating-text 1.3s ease alternate infinite;
    animation: floating-text 1.3s ease alternate infinite;
  }
}

.nav-container {
  align-items: center;
  display: flex;
  justify-content: center;
  display: var(--tech-nav-display);
}

.dots {
  /* Center the content */
  align-items: center;
  display: flex;
  justify-content: center;
  /* Reset styles */
  list-style-type: none;
  padding: 0;
}

.dots__item {
  /* Rounded border */
  border-radius: 9999px;
  height: 14px;
  width: 14px;

  /* Inactive dot */
  background-color: transparent;
  border: 1px solid rgba(44, 43, 43, 0.432);

  /* OPTIONAL: Spacing between dots */
  margin: 0 4px;
}

.dots__item:hover{
  background-color: rgba(128, 128, 128, 0.062);
}

.dot__active {
  background-color: black;
}

@media screen and (max-width: 600px) {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  h1 {
    text-align: center;
    font-family: "Rubik", sans-serif;
  }

  @-webkit-keyframes floating-text {
    0% {
      -webkit-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-moz-keyframes floating-text {
    0% {
      -moz-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-ms-keyframes floating-text {
    0% {
      -ms-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @-o-keyframes floating-text {
    0% {
      -o-transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  @keyframes floating-text {
    0% {
      transform: translateY(0.1em);
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.3em 0.2em rgba(0, 0, 0, 0.3);
    }

    100% {
      text-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4),
        0 0 0.2em rgba(0, 0, 0, 0.3), 0 0.5em 0.5em rgba(0, 0, 0, 0.3);
    }
  }

  .tech {
    font-family: "Bungee Shade", cursive;
    color: hsl(200, 80%, 45%);
    font-size: 8vw;
    position: relative;
    text-align: center;
    width: 100%;
    -webkit-animation: floating-text 1.3s ease alternate infinite;
    -moz-animation: floating-text 1.3s ease alternate infinite;
    -ms-animation: floating-text 1.3s ease alternate infinite;
    -o-animation: floating-text 1.3s ease alternate infinite;
    animation: floating-text 1.3s ease alternate infinite;
  }

  .worked {
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    font-size: 5vw;
    width: 100%;
    top: 50px;
  }
}
