<div id="technology">
  <h1>
    <div class="tech">
      TECHNOLOGIES
    </div>

    <div class="worked">
      I'VE WORKED WITH...
    </div>
  </h1>
  <drag-scroll class="draggable">
    <div drag-scroll-item>
      <div class="icon" style="background-color: #4169e1;">
        <i class="devicon-java-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #6B5B95;">
        <i class="devicon-nodejs-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #F1502F;">
        <i class="devicon-git-plain-wordmark" style="color: white"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #fdfd96;">
        <i class="devicon-express-original-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: red;">
        <i class="devicon-angularjs-plain" style="color: white"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: black;">
        <i class="devicon-docker-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: aliceblue;">
        <i class="devicon-css3-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #4B8BBE;">
        <i class="devicon-python-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #4DB33D;">
        <i class="devicon-mongodb-plain-wordmark"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #6B5B95;">
        <i class="devicon-scala-plain-wordmark colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: aliceblue;">
        <i class="devicon-typescript-plain colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: black;">
        <i class="devicon-javascript-plain colored"></i>
      </div>
    </div>
    <div drag-scroll-item>
      <div class="icon" style="background-color: #6B5B95;">
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      </div>
    </div>
  </drag-scroll>

</div>