<div id="technology">
  <h1>
    <div class="tech">TECHNOLOGIES</div>
    <div class="worked">I'VE WORKED WITH...</div>
  </h1>
  <div class="tech-grid">
    <div
      *ngFor="let tech of technologies; let i = index"
      class="tech-card"
      [style.animation-delay]="i * 0.07 + 's'"
    >
      <div class="tech-icon" [ngStyle]="{ 'background-color': tech.color }">
        <i [ngClass]="tech.icon"></i>
      </div>
      <span class="tech-name">{{ tech.name }}</span>
    </div>
  </div>
</div>
