.navbar {
  letter-spacing: .025em;
  background-color: var(--main-theme-bgcolor);
  overflow: hidden;
  height: 12vh;
  z-index: 4;
}


.fixed-top {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
}
.nav-item {
    font-family: Open Sans,sans-serif;
    font-size: 2.5vh;
    font-weight: 400;
    display: var(--desktop-show);
    text-align: right;
    padding-right: 1em;
    padding-top: 4.6vh;
    text-decoration: none;
    float: right;
}
#logo {
  font-family: 'Lobster Two', cursive;
  font-size: 5vh;
  display: block;
  text-align: left;
  padding-top: 1vh;
  padding-left: 1em;
  text-decoration: none;

}

#menu {
  color:white; 
  float: right; 
  font-size: 4vh;
  padding-right: 2.3vh;
  padding-top: 2vh;
  display: var(--mobile-show);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

a{
  color: var(--main-theme-color);;
}

/* side nav */
.sidenav {
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 4;
  top: 12vh;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;

}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
