<nav class="navbar fixed-top">
  <!-- <span id="logo">
  Jaime Moncayo hi
  <i class="fa fa-bars" aria-hidden="true" id="menu"></i>
</span> -->

  <ul>
    <li id="logo"><a href="#">Jaime Moncayo</a></li>
    <li class="nav-item"><a href="#cont">Contact</a></li>
    <li class="nav-item"><a href="#technology">Technology</a></li>
    <li class="nav-item"><a href="#exp">Experience</a></li>
    <li class="nav-item"><a href="#abt">About</a></li>
    <!-- <li class="nav-item"><a href="#">About</a></li> -->
    <div id="open">
      <li id="menu"><i class="fa fa-bars" aria-hidden="true" id="menu"></i></li>
    </div>

  </ul>

</nav>


<!-- Sidebar -->
<div class="sidebar" style="display: none;">
  <div id="mySidenav" class="sidenav">
    <a href="#abt" (click)="toggleSidebar()">About</a>
    <a href="#exp" (click)="toggleSidebar()">Experience</a>
    <a href="#tech" (click)="toggleSidebar()">Technology</a>
    <a href="#cont" (click)="toggleSidebar()">Contact</a>
  </div>
</div>