#navbar {
  padding-top: 20px;
  letter-spacing: 0.025em;
  background-color: transparent;
  overflow: hidden;
  height: var(--nav-height);
  z-index: 10;
  transition: 1.5s;
}

.slider {
  overflow-y: scroll;
  /* complete liquid height based on the parent's height!! */
  height: 100%;

  /* only transition on transform properties which are hardware accelerated = way better performances */
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.slider.opened {
  /* visible */
  -webkit-transform: translate(0, 0%);
  -moz-transform: translate(0, 0%);
  -ms-transform: translate(0, 0%);
  transform: translate(0, 0%);
}

.slider.closed {
  /* completely offscreen */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

#logo {
  font-family: "Lobster Two", cursive;
  font-size: 5vh;
  display: block;
  text-align: left;
  padding-top: var(--nav-logo-top);
  margin-top: var(--nav-logo-m-top);
  padding-left: 1em;
  text-decoration: none;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: var(--nav-text-stroke);
  -webkit-text-stroke-color: black;
}

#menu {
  color: white;
  float: right;
  font-size: 4vh;
  padding-right: 2.3vh;
  display: var(--mobile-show);
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  display: var(--desktop-show);
  text-align: right;
  padding-right: 1em;
  padding-top: 2.5vh;
  text-decoration: none;
  float: right;
}

.fixed-top {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

a {
  /* color: var(--main-theme-color); */
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: var(--nav-text-stroke);
  -webkit-text-stroke-color: black;
}

/* side nav */

#sidebar {
  /* display: none; */
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 4;
  top: var(--nav-height);
  right: 0;
  background-color: transparent;
  overflow-x: hidden;
  transition: 1.5s;
}

#sidebar a {
  padding: 19px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#sidebar a:hover {
  color: grey;
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}