<nav id="navbar" class="fixed-top">
  <!-- <span id="logo">
  Jaime Moncayo hi
  <i class="fa fa-bars" aria-hidden="true" id="menu"></i>
</span> -->

  <ul>
    <li id="logo"><a href="#">Jaime Moncayo</a></li>
    <li class="nav-item fadein"><a href="#contact">Contact</a></li>
    <li class="nav-item fadein"><a href="#res">Resume</a></li>
    <li class="nav-item fadein"><a href="#technology">Technology</a></li>
    <li class="nav-item fadein"><a href="#exp">Experience</a></li>
    <li class="nav-item fadein"><a href="#abt">About</a></li>
    <!-- <li class="nav-item"><a href="#">About</a></li> -->
    <li id="menu">
      <i class="fa fa-bars" aria-hidden="true" (click)="toggle()"></i>
    </li>
  </ul>
</nav>

<!-- Sidebar -->
<div
  id="sidebar"
  [hidden]="!initSlider"
  [ngClass]="{
    slider: initSlider,
    opened: sidebarActive,
    closed: !sidebarActive
  }"
>
  <div id="mySidenav" class="sidenav">
    <a href="#abt" (click)="toggle()">About</a>
    <a href="#exp" (click)="toggle()">Experience</a>
    <a href="#technology" (click)="toggle()">Technology</a>
    <a href="#res" (click)="toggle()">Resume</a>
    <a href="#contact" (click)="toggle()">Contact</a>
  </div>
</div>
