#photo {
    width: 100%;
    height: 50vh;
    background-image: url("../../../assets/IMG-0874.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    overflow: hidden;
}