#contact {
  overflow: hidden;
}
#photo {
  width: 100%;
  height: 30vh;
  background-color: black;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  line-height: 34vh;
}

.fa {
  color: white;
  font-size: 3em;
  opacity: 0.6;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
