#contact {
    overflow: hidden;
}
#photo {
    width: 100%;
    height: 50vh;
    background-image: url("../../../assets/IMG-0874.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    line-height: 50vh;
}



.fa {
    color:white;
    font-size: 3em;
    opacity: .6;
    margin-left: .5em;
    margin-right: .5em;
}
