#resume {
  height: 80vh;
  width: 100%;
  font-size: 3em;
  font-weight: 800;
  line-height: 50px;
  font-family: "Rubik", "Roboto Slab", serif;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
}

#res-photo {
  background-image: linear-gradient(135deg, #02aab0, #1e95cc);
  /* clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 100%); */
  clip-path: polygon(0 12.5vh, 100% 0, 100% 100%, 0 100%);
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  height: 100%;
}

hr {
  color: black;
  background-color: black;
  border: none;
  width: 20%;
  height: 3px;
}

#topline {
  padding-top: 3vh;
}

#botline {
  padding-top: 22vh;
}

#res-content {
  padding-top: 17vh;
  text-align: center;
}

button {
  background-color: transparent;
  border-style: solid;
  color: black;
  border-color: black;
  border-width: 0.1em;
  font-size: 1em;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}
