<div id="about">
  <div id="aboutphoto-container">
    <img
      id="aboutphoto"
      src="https://avatars3.githubusercontent.com/u/41450290?s=400&u=e2d203f900cf7adc68cfdbdfff3f011f679226a9&v=4"
      alt="Picture of Jaime Moncayo"
    />
    <h2 class="section-heading">About Me</h2>
  </div>
  <div id="about-text">
    Jaime Moncayo is a Senior Software Engineer with extensive experience in
    developing high-performance, real-time exchange platforms and ad-tech
    solutions. Currently a Senior Software Engineer I at Kargo, he leads
    cross-functional special projects and designs advanced bidding strategies
    using Go. His previous leadership roles include serving as a Technical Lead
    at TripleLift, where he managed core auction platforms handling over 18,000
    requests per second and integrated machine learning models to optimize
    pricing. Jaime's technical expertise spans a wide range of languages,
    including Java, Go, and Python, as well as frameworks like Spring Boot,
    Angular, and React. He holds a Bachelor of Business Administration in
    Finance from the University of North Texas and has a professional background
    that also includes software engineering and financial analysis roles at
    Fidelity Investments.
  </div>
</div>
