<div id="about">
    <div id="aboutphoto-container">
        <img id="aboutphoto" src="http://via.placeholder.com/180x180">
    </div>  
    <div id="about-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam non mollitia inventore velit blanditiis ex, temporibus modi
        possimus labore, hic placeat iusto in eligendi culpa alias obcaecati deserunt itaque optio! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Consectetur, voluptatibus necessitatibus vitae commodi ducimus accusantium provident
        quisquam beatae id aspernatur dolores voluptatum labore facere distinctio fugit adipisci rerum. Laboriosam, nobis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda necessitatibus aperiam iste quaerat! Numquam,
        inventore nobis rem nesciunt esse ratione, laboriosam dignissimos id, incidunt ad quo ducimus repellendus animi fugit.
    </div>
</div>