<app-navbar> </app-navbar>
<main>
  <app-cover></app-cover>

  <section id="abt" appAnimateOnScroll animationClass="fade-in-up">
    <app-about></app-about>
  </section>
  <section id="exp" appAnimateOnScroll animationClass="fade-in-left">
    <app-experience></app-experience>
  </section>

  <section appAnimateOnScroll animationClass="fade-in-up">
    <app-technologies></app-technologies>
  </section>

  <section id="res" appAnimateOnScroll animationClass="fade-in-right">
    <app-resume></app-resume>
  </section>

  <section appAnimateOnScroll animationClass="fade-in-up">
    <app-contact></app-contact>
  </section>
</main>
