/* You can add global styles to this file, and also import other style files */

section:before {
  height: var(--offset-anchors);
  content: "";
  display: block;
}

/* Mobile Settings */

@media only screen and (max-width: 735px) {
  :root {
    --mobile-show: block;
    --desktop-show: none;
    --about-photo: 40vw;
    --about-ribbon: 30vw;
    --margin-text: 3vw;
    --experience-text-size: 5vw;
    --mobile-brands: 26vw;
    --nav-height: 8vh;
    --nav-logo-top: 0px;
    --nav-logo-m-top: -6px;
    --page-margin-top: 0vh;
    --offset-height: 7vh;
    --cover-mobile: url("assets/cm.jpg");
    --nav-text-stroke: 1px;
    --offset-anchors: 5vh;
    --banner-mobile: url("/assets/bm.jpg");
    --tech-height: 55vh;
    --parallax-on-off: scroll;
    --tech-icon-width-height: 150px;
    --tech-icon-font-size: 75px;
    --tech-caro-width: 300px;
    --tech-nav-display: none;
    --tech-swipe-display: flex;
  }
}

/* Desktop/Tablet Settings */

@media only screen and (min-width: 735px) {
  :root {
    --mobile-show: none;
    --desktop-show: block;
    --about-photo: 18vw;
    --about-ribbon: 10vw;
    --margin-text: 10vw;
    --experience-text-size: 3vw;
    --mobile-brands: 15vw;
    --nav-height: 12vh;
    --nav-logo-top: 1vh;
    --page-margin-top: 0vh;
    --nav-logo-m-top: 0px;
    --offset-height: 10vh;
    --cover-mobile: url("assets/c1.jpg");
    --nav-text-stroke: 0px;
    --offset-anchors: 6.5vh;
    --banner-mobile: url("/assets/banner1.jpg");
    --tech-height: 78vh;
    --parallax-on-off: fixed;
    --tech-icon-width-height: 250px;
    --tech-icon-font-size: 150px;
    --tech-caro-width: 750px;
    --tech-nav-display: flex;
    --tech-swipe-display: none;
  }
}

:root {
  --main-theme-bgcolor: black;
  --main-theme-color: white;
}

html,
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
}

img {
  float: left;
  margin: 0;
  border: 0;
}

main {
  margin-top: var(--page-margin-top);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
